@model IEnumerable<TelecomWebApp.Models.E_shopVoucher>

<h1>E-Shop Vouchers</h1>
<link rel="stylesheet" href="~/css/adminModern.css" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Shop ID</th>
            <th>URL</th>
            <th>Rating</th>
            <th>Voucher ID</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>@item.shopID</td>
                <td>@item.URL</td>
                <td>@item.rating</td>
                <td>@item.voucherID</td>
                <td>@item.value</td>
            </tr>
        }
    </tbody>
</table>
