@model IEnumerable<TelecomWebApp.Models.PhysicalStoreVoucherDetail>

<h1>Physical Stores and Redeemed Vouchers</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Shop ID</th>
            <th>Address</th>
            <th>Working Hours</th>
            <th>Voucher ID</th>
            <th>Voucher Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.shopID</td>
                <td>@item.address</td>
                <td>@item.working_hours</td>
                <td>@item.voucherID</td>
                <td>@item.value</td>
            </tr>
        }
    </tbody>
</table>
