@model IEnumerable<TelecomWebApp.Models.SMSOffer>

<h1>SMS Offers for Account</h1>
<link rel="stylesheet" href="~/css/AdminFirstHalf.css" />


@if (Model == null || !Model.Any())
{
    <div class="no-records">
        <p>No records were found for the provided criteria.</p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Offer ID</th>
                <th>Offer Description</th>
                <th>Validity Date</th>
                <th>Status</th>
                <th>Mobile Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model)
            {
                <tr>
                    <td>@offer.offerID</td>
                    <td>@offer.benefitID</td>
                    <td>@offer.internet_offered</td>
                    <td>@offer.SMS_offered</td>
                    <td>@offer.minutes_offered</td>
                </tr>
            }
        </tbody>
    </table>
}
