
@model BenefitListViewModel
<head>
    <title>Guc telco Stores</title>
    <link rel="stylesheet" href="~/css/AllShops.css" asp-append-version="true" />
</head>
<body>
    <div class="shop-container">
        

        <h2>All active Benefits</h2>
        <div class="big-list">
        @for (int i=0;i<Model.Benefits.Count;i+=3){
            <div class="store-list">
                    @for (int j = i; j < i + 3 && j < Model.Benefits.Count; j++)
                {
                    var ben = Model.Benefits[j];
                    <div class="store-item">
                        <img src="https://via.placeholder.com/300" alt="store" class="store-image">
                        <div class="store-info">
                                <h3>ID: @ben.benefitID</h3>
                                <p>mobile num: @ben.mobileNo</p>
                                <p>valid till: @ben.validity_date</p>
                                <p>@ben.status</p>
                                <p>@ben.description</p>
                        </div>
                    </div>
                }
            </div>
        }
            
        </div>
       
           
            
        </div>
    </div>
</body>


