@model List<TelecomWebApp.Models.Service_plan>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/ServicePlans.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Service Plans</title>
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var u in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong>Plan ID: @u.planID</strong>
                        </div>
                        <div class="card-body">
                            <p><strong>SMS:</strong> @u.SMS_offered</p>
                            <p><strong>Minutes:</strong> @u.minutes_offered </p>
                            <p><strong>Data:</strong> @u.data_offered</p>
                            <p><strong>Name:</strong> @u.name</p>
                            <p><strong>Price:</strong> @u.price</p>
                            <p><strong>Description:</strong> @u.description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
