@model List<TelecomWebApp.Models.Service_plan>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Service Plans</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Plan ID</th>
                <th>SMS</th>
                <th>Minutes</th>
                <th>Data</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.planId</td>
                    <td>@u.SMS_offered</td>
                    <td>@u.minutes_offered</td>
                    <td>@u.data_offered</td>
                    <td>@u.name</td>
                    <td>@u.price</td>
                    <td>@u.description</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
